[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

requests = ">=2.20.0"
requests-toolbelt = "*"
libkarel = "*"


[requires]

python_version = "3.8"
