name: Test

on:
  pull_request:
  push:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
          submodules: true

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          sudo pip install pipenv && pipenv install --dev

      - name: Run pycodestyle
        run: pipenv run pycodestyle .

      - name: Run mypy
        run: pipenv run mypy --strict .
